.WeatherTemperature {
  text-align: left;
  font-weight: 400;
  margin-left: 20px;
  position: relative;
  left: 70px;
  bottom: 177px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
