.WeatherForecast {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  color: #292841;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.WeatherForecast canvas {
  display: block;
  margin: 5px auto;
}
